.cover {
    background-image: url("./images/field.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 94.5vh;
}

.darken {
    height: 100%;
    width: 100%;
    background: rgba(39, 40, 43, 0.7);
}

.cover .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    color: white;
}

#btn_fields {
    display: none;
}

.interests {
    background: #efefef;
}

.interests .content-top {
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 3em;
    padding-bottom: 3em;
}

.interests .tint {
    height: 100%;
    width: 100%;
    background: rgba(39, 40, 43, 0.9);
}

.interests .container .content-top .icon-holder {
    background: #343a40 url('images/JC_icon_transparent.png') no-repeat;
    background-size: cover;
    height: 200px;
    border: 10px solid rgb(117, 139, 117);
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.interests .container .content-top .icon-overlay {
    border-radius:50%;
    height: 100%;
    width: 100%;
    background: rgba(39, 40, 43, 0.3);
}

.interests .container .content-top .text-holder {
    align-self: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.work {
    background-color: #343a40;
    color: #fff;
}

.fox .carousel-caption {
    background: rgba(0,0,0,0.3);
}

footer .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    background: #343a40;
    color: #acbecf;
}

footer a{
    color: #acbecf;
    text-decoration: none !important;
}

footer .footer-grid {
    padding-bottom: 3em;
}

footer .footer-grid .right-side {
    text-align: right;
}

footer .site {
    margin: 1em;
}

footer .site .icon {
    max-height: 50px;
    max-width: 50px;
    display: inline-block;
    vertical-align: middle;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}