/* TEST SECTION */

/* div {
    border: 1px solid black;
} */

/* MAIN STYLES */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-weight: bold;
    color: #555;
}

section h1 {
    font-size: 2em;
}

.container {
    width: 90%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.quoted {
    font-size: .8em;
    font-style: italic;
    text-align: right;
}

.attrib:before {
    content: "~ ";
}

/* MOBILE COVER */
.cover {
    height: 100vh;
    background-image: url(./images/blue-line.svg), url(./images/red-line.svg); 
    background-size: 100vw 1.5em, 32px 32px;
    background-repeat: repeat, repeat-y;
    background-position: 0 0, 64px 0;
}
.cover .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.cover .container h1 {
    font-size: 5em;
    padding: 0;
    margin: 0;
}

.cover .container p {
    font-style: italic;
    font-size: 1.2em;
}

/* MOBILE PROFILE */
.profile {
    background: #eee;
}

.profile .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0;
}

.profile .container .header {
    text-align: center;
    padding: 1em 0;
}

.profile .grid {
    display: block;
    text-align: center;
}

.profile .grid div {
    padding: 1em;
    /* border: 1px solid black; */
}

.profile .tagline {
    text-align: center;
    padding: 2em 0;
    font-size: .7em;
}

.profile .container .details p {
    margin-top: 0px;
}

.profile .p {
    line-height: 1.2em;
}

/* MOBILE EXPERIENCE */
.experience .container {
    padding: 1em 0;
}
.experience p {
    margin: 0;
    margin-bottom: 1em;
}

.experience h3 {
    margin-bottom: 0;
}

.experience .grid .title p {
    font-style: italic;
    font-size: .8em;
}



/* MOBILE SKILLS */
.skills {
    background: #eee;
}

.skills ul {
    list-style-type: none;
}

.skills .container {
    padding: 1em 0;
}

.skills li {
    line-height: 1.5em;
    width: 85%;
}

.skills li:nth-child(even) {
    background: #ddd;
}

/* MOBILE PROJECTS */
.projects .container {
    padding: 1em 0;
}

.projects .card {
    margin: 1em 0;
    background: #eee;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0 0 1em 0;
}

.projects .card img{
    width: 100%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
}

.projects .card .details {
    padding: 0 .5em;
}

/* MOBILE CONTACT */
.contact {
    background: #eee;
}

.contact .container {
    padding: 1em 0;
}

.contact .icon {
    max-height: 50px;
    max-width: 50px;
    display: inline-block;
    vertical-align: middle;
}

.contact .site {
    display: inline-block;
    width: 40%;
}

.contact .site strong {
    margin-left: .5em;
}

.contact .site a {
    text-decoration: none;
}


@media only screen  and (min-width : 1224px) {
    /* DESKTOP COVER */


    /* DESKTOP PROFILE */
    .profile .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .profile .grid .aboutMe {
        grid-column: 1 2;
        align-self: center;
        justify-self: center;
    }

    .profile .grid .pic {
        grid-column: 2 3;
        align-self: center;
        justify-self: center;
    }

    .profile .grid .details {
        grid-column: 3 4;
        align-self: center;
        justify-self: center;
    }

    /* DESKTOP EXPERIENCE */

    .experience .grid {
        display: grid;
        grid-template-columns: 17em auto;
    }

    .experience .grid .title h3 {
        margin: 0;
        padding: 0;
    }

    .experience .grid .title {
        text-align: right;
        margin-right: 1em;
    }

    /* DESKTOP SKILLS */
    .skills .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .skills .grid hr {
        display: none;
    }

    .skills .grid > div {
        margin: 1em;
    }
    .skills .grid > h3 {
        margin: 1em;
    }

    .skills .grid .tools h3{
        padding-bottom: 1.1em;
    }

    /* DESKTOP PROJECTS */
    .projects .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .projects .grid .card {
        margin: 1em;
    }

    

    /* DESKTOP CONTACT */



}

